numpy==1.26.4
pandas==2.2.1
matplotlib==3.7.1
pydantic==1.10.9
fastapi==0.97.0
uvicorn==0.18.3
autopep8==2.0.2
pre-commit==3.2.2
Commitizen==3.3.0
reportlab==4.0.4
biotite==0.37.0
plotly==5.15.0
rapidfuzz==3.2.0
biopython==1.81
kaleido==0.2.1
pyMSAviz==0.4.2
psutil==6.0.0
pytest==8.3.2
pytest-cov==5.0.0
